In [1]:
# Import dependencies

import pandas as pd

In [2]:
# Set up file paths for csv files

trip_path = "../Static/data/Cedar Lake Van Buren County Two - Sheet1.csv"

trip_data = pd.read_csv(trip_path)
trip_data.head()

,Lake Name,County,State,SurveyName,Contributor Name,Year,Month,Day,Date,Approx Time of Day,Elapsed Time (sec),Surface Water Temperature (oF),Conductivity (µS/cm),Latitude,Longitude,Location Name,Notes
0,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:02:30,150,NaN,319.0,42.08891,-85.82564,Main Lake,NaN
1,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:03:00,180,NaN,323.0,42.08893,-85.82565,Main Lake,NaN
2,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:03:30,210,NaN,324.0,42.08896,-85.82567,Main Lake,NaN
3,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:04:00,240,NaN,326.0,42.08898,-85.82567,Main Lake,NaN
4,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:04:30,270,NaN,326.0,42.08898,-85.82566,Main Lake,NaN

In [3]:
trip_data.dtypes

Lake Name                          object
County                             object
State                              object
SurveyName                         object
Contributor Name                   object
Year                                int64
Month                               int64
Day                                 int64
Date                               object
Approx Time of Day                 object
Elapsed Time (sec)                  int64
Surface Water Temperature (oF)    float64
Conductivity (µS/cm)              float64
Latitude                          float64
Longitude                         float64
Location Name                      object
Notes                              object
dtype: object

In [4]:
# Rename columns
trip_data = trip_data.rename(columns={"Lake Name": "lake_name", "County": "county", "State": "state", "SurveyName": "survey_name", 
                          "Contributor Name": "contributor_name", "Year": "year", "Month": "month", "Day": "day",
                          "Date": "date", "Approx Time of Day": "timestamp", "Elapsed Time (sec)": "elapsed_time_seconds",
                          "Surface Water Temperature (oF)": "surface_water_temp_F", "Conductivity (µS/cm)": "conductivity", 
                          "Latitude": "latitude", "Longitude": "longitude", "Location Name": "location_name", "Notes": "notes"})
trip_data.head()

,lake_name,county,state,survey_name,contributor_name,year,month,day,date,timestamp,elapsed_time_seconds,surface_water_temp_F,conductivity,latitude,longitude,location_name,notes
0,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:02:30,150,NaN,319.0,42.08891,-85.82564,Main Lake,NaN
1,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:03:00,180,NaN,323.0,42.08893,-85.82565,Main Lake,NaN
2,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:03:30,210,NaN,324.0,42.08896,-85.82567,Main Lake,NaN
3,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:04:00,240,NaN,326.0,42.08898,-85.82567,Main Lake,NaN
4,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,10:04:30,270,NaN,326.0,42.08898,-85.82566,Main Lake,NaN

In [5]:
# Combine date and time into timestamp column
trip_data.timestamp = trip_data.date + " " + trip_data.timestamp
trip_data.timestamp = pd.to_datetime(trip_data.timestamp)
trip_data.head()

,lake_name,county,state,survey_name,contributor_name,year,month,day,date,timestamp,elapsed_time_seconds,surface_water_temp_F,conductivity,latitude,longitude,location_name,notes
0,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,2020-04-06 10:02:30,150,NaN,319.0,42.08891,-85.82564,Main Lake,NaN
1,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,2020-04-06 10:03:00,180,NaN,323.0,42.08893,-85.82565,Main Lake,NaN
2,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,2020-04-06 10:03:30,210,NaN,324.0,42.08896,-85.82567,Main Lake,NaN
3,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,2020-04-06 10:04:00,240,NaN,326.0,42.08898,-85.82567,Main Lake,NaN
4,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,4/6/20,2020-04-06 10:04:30,270,NaN,326.0,42.08898,-85.82566,Main Lake,NaN

In [6]:
# Convert date to datetime
trip_data.date = pd.to_datetime(trip_data.date)
trip_data

,lake_name,county,state,survey_name,contributor_name,year,month,day,date,timestamp,elapsed_time_seconds,surface_water_temp_F,conductivity,latitude,longitude,location_name,notes
0,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,2020-04-06,2020-04-06 10:02:30,150,NaN,319.0,42.08891,-85.82564,Main Lake,NaN
1,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,2020-04-06,2020-04-06 10:03:00,180,NaN,323.0,42.08893,-85.82565,Main Lake,NaN
2,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,2020-04-06,2020-04-06 10:03:30,210,NaN,324.0,42.08896,-85.82567,Main Lake,NaN
3,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,2020-04-06,2020-04-06 10:04:00,240,NaN,326.0,42.08898,-85.82567,Main Lake,NaN
4,Cedar Lake,Van Buren,Michigan,kayak tour 2,D. McLaughlin,2020,4,6,2020-04-06,2020-04-06 10:04:30,270,NaN,326.0,42.08898,-85.82566,Main Lake,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4745,Cedar Lake,Van Buren,Michigan,Heckamankayakcedarlakevbc,D. Heckaman,2020,7,16,2020-07-16,2020-07-16 16:59:20,4950,82.5,291.0,42.08896,-85.82597,Main Lake,NaN
4746,Cedar Lake,Van Buren,Michigan,Heckamankayakcedarlakevbc,D. Heckaman,2020,7,16,2020-07-16,2020-07-16 16:59:30,4960,82.5,291.0,42.08899,-85.82592,Main Lake,NaN
4747,Cedar Lake,Van Buren,Michigan,Heckamankayakcedarlakevbc,D. Heckaman,2020,7,16,2020-07-16,2020-07-16 16:59:40,4970,82.5,291.0,42.08900,-85.82587,Main Lake,NaN
4748,Cedar Lake,Van Buren,Michigan,Heckamankayakcedarlakevbc,D. Heckaman,2020,7,16,2020-07-16,2020-07-16 16:59:50,4980,82.5,291.0,42.08901,-85.82583,Main Lake,NaN
4749,Cedar Lake,Van Buren,Michigan,Heckamankayakcedarlakevbc,D. Heckaman,2020,7,16,2020-07-16,2020-07-16 17:00:00,4990,82.5,291.0,42.08902,-85.82578,Main Lake,NaN

In [7]:
trip_data.dtypes

lake_name                       object
county                          object
state                           object
survey_name                     object
contributor_name                object
year                             int64
month                            int64
day                              int64
date                    datetime64[ns]
timestamp               datetime64[ns]
elapsed_time_seconds             int64
surface_water_temp_F           float64
conductivity                   float64
latitude                       float64
longitude                      float64
location_name                   object
notes                           object
dtype: object

In [8]:
trip_data.surface_water_temp_F.describe()

count    3411.000000
mean       78.946350
std         4.476897
min        71.000000
25%        74.400000
50%        80.500000
75%        82.300000
max        88.000000
Name: surface_water_temp_F, dtype: float64

In [9]:
trip_data.conductivity.describe()

count    4223.000000
mean      293.445655
std        60.935688
min         0.000000
25%       295.000000
50%       306.000000
75%       309.000000
max       656.000000
Name: conductivity, dtype: float64

In [11]:
# Make an array of unique dates in the data set
date_array = trip_data.date.unique()
print(len(date_array))
date_array

13

array(['2020-04-06T00:00:00.000000000', '2020-04-07T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-04-22T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000', '2020-06-02T00:00:00.000000000',
       '2020-06-06T00:00:00.000000000', '2020-06-10T00:00:00.000000000',
       '2020-06-12T00:00:00.000000000', '2020-06-18T00:00:00.000000000',
       '2020-06-30T00:00:00.000000000', '2020-07-07T00:00:00.000000000',
       '2020-07-16T00:00:00.000000000'], dtype='datetime64[ns]')

In [13]:
print(date_array[0])

2020-04-06T00:00:00.000000000

In [ ]:
import matplotlib as plt
import numpy as np